<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

  <ion-button type = 'button' (click)="showForm()">ADD PRODUCT</ion-button>
  <ion-button type = 'button' (click) = "showGet()">GET PRODUCT</ion-button>


  <!-- ADD PRODUCT FORM -->
<form *ngIf = "showAddemployee"  [formGroup] = "productDetails" (ngSubmit) = "onSubmit()">
  <ion-item>
    <ion-label position="floating">Car</ion-label>
    <ion-input type="text" formControlName = "Brand" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">color</ion-label>
    <ion-input type="text" formControlName = "color"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Price</ion-label>
    <ion-input type="number" formControlName = "cost"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">quantity</ion-label>
    <ion-input type="number" formControlName = "quantity"></ion-input>
  </ion-item>

  <ion-button type="'button">ADD</ion-button>
</form>

<!-- GET PRODUCTS -->
<ion-grid *ngIf = "showGetemployee">
  <div *ngFor = "let item of productData">
  <ion-row>
    <ion-col>BRAND</ion-col>
    <ion-col>COLOR</ion-col>
    <ion-col>PRICE</ion-col>
    <ion-col>QNT</ion-col>
    <ion-col>Action</ion-col>
  </ion-row>
  <ion-row >
    <ion-col>{{item.Brand}}</ion-col>
    <ion-col>{{item.color}}</ion-col>
    <ion-col>{{item.cost}}</ion-col>
    <ion-col>{{item.quantity}}</ion-col>
    <ion-col size = '3'>
      <ion-button class="round" color = "warning" (click)="update(item)">
        <ion-icon name ="create-outline"></ion-icon>
      </ion-button>
      <ion-button class="round" color = "danger" (click)="delete(item)" (click) = 'showGet()' >
        <ion-icon name ="trash-outline"></ion-icon>
      </ion-button>
    </ion-col>

  </ion-row></div>
</ion-grid>

</ion-content>
